.mainPage {
    background-color: #2c2f36;
    min-height: 100vh;
    /*padding-top: 80px; !* отступ под фиксированный header *!*/
    color: #c9d1d9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main {
    width: 100%;
    max-width: 900px;
    padding: 24px;
}

.threadList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.threadItem {
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid #30363d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.threadItem:hover {
    background-color: #1f2937;
    transform: scale(1.01);
}

.threadItem h2 {
    font-size: 20px;
    color: #f0f6fc;
    margin: 0 0 8px 0;
}

.threadItem p {
    margin: 4px 0;
    color: #8b949e;
}

.createdBy, .createdAt {
    font-size: 13px;
    font-style: italic;
}

.loading, .zero-threads {
    text-align: center;
    font-size: 18px;
    color: #8b949e;
    margin-top: 40px;
}
